@charset "utf-8";
/*新增会员开始*/
body{overflow: auto}
.belong-address{
    width: 165px;
    margin-right: 8px;
}
.addmember-select{

}
.addmember-select ul{
  overflow:hidden ;
    border: 1px solid #ddd;
}
.addmember-select ul>li{
    height: 28px;
    line-height: 28px;
}
.addmember-select ul>li:hover {
  background-color: #4587da;
 }

.belong-level{
    width: 249px;
}
.belong-group{
    width: 249px;
}
.check-right{
   margin-left: 5px;float: left;margin-top: 6px;
}
.date-ico {
    background:url(../images/data-bg.gif) no-repeat 99% 50%;
}
.select-100{
    width: 100px;
}
.input1{
    margin: 0;
    width: 229px;
    border-radius:2px;
}
/*新增会员结束*/


/*编辑收货地址开始*/
.info .title1 {
    color:#9e7a5a;
}
.addr-textarea{
    width: 310px;
    height: 80px;
    border: 1px solid #ddd;
    resize: none;
    color: #a9a9a9;
    outline: none;
    text-indent: 1em;
    font-size: 12px;
}
.detail-addr{
    height: 100px;
}
.code .opacity{
    opacity: 0;
    filter: alpha(opacity=0)
}
.opacity{
    opacity: 0;
    filter: alpha(opacity=0)
}
.goodsTextArea{
    resize: none;
    width: 300px;
    height: 70px;
    padding: 5px;
    border: 1px solid #ddd;
    color: #666;
}
.bottmAddr{
    float: left;
    overflow-y: auto;
    margin-top: 0;
    width: 100%;
    margin-bottom: 40px;
}
.addrTop{
    text-align: left;
    height: 28px;
    line-height: 28px;
    border-bottom: 1px solid #e7e6eb;
}
.addrTopList{
    overflow: hidden;
    cursor: pointer;
    float: left;
    padding-left:15px ;
    border-bottom: 1px solid #e7e6eb;
}
.addrList{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e7e6eb;
}
.addrList1{
    float: left;
    padding-left:15px ;
}
.addr-80{
    width: 80px;
}
.addr-100{
    width: 100px;
}
.addr-150{
    width: 150px;
}
.addr-220{
    width: 220px;
}
.addrDoubText{
    line-height: 20px;
    margin-top: 5px;
}
.operaImgR{
    cursor: pointer;
    margin-right: 10px;
}
.addr-col-ececec{
    background: #ececec;
}
.operaImg{
    cursor: pointer;
}
.goods-edit,.goods-delect {
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
    color: #4587db;
}
.tableTitleAddress tr th{padding-left: 20px;}
.tableListAddress tr td{padding-left: 20px;}
/*编辑收货地址结束*/

/****第三方登录设置开始***/
.lg-content{
    height: 509px;
    padding: 23px 0 0 13px;
   /* margin: 0 0 10px 10px;*/
    border: 1px solid #e6e6e6;
}
.lg-name{
    margin-bottom: 14px;
}

.lg-write{
    height: 65px;
}
.lg-write>li{
    width: 310px;
    height: 65px;
    margin-right: 34px;
}

.lg-API{
    width: 72px;
    height: 28px;
    line-height: 28px;
    padding-right: 16px;
    text-align: right;
}

.lg-input{
    position: relative;
}
.lg-input>input{
    width: 201px;
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.lg-warning{
    line-height: 33px;
    padding-left: 18px;
    color: #f13848;
    margin-left: 88px;
    background: url("../images/warning.png") no-repeat left center;
    display: none;
}

.addPosition{
    position: relative;
}
.saveBtn{
    position: absolute;
    top: 2px;
    right: -79px;
}
.deleteIcon{
    width: 13px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -7px;
    /*display: inline-block;*/
    background: url("../images/deleteIcon.png") no-repeat center;
    display: none;
}
/****第三方登录设置结束***/



/****查看会员信息开始**/
.look-member-title{
    border-bottom: 1px solid #ddd;
    margin: 0 10px;
}
.lookOuter {
    min-height: 670px;
    border: 1px solid #ddd;
}
.lookPerson{
    border: none;
}
.lookUl {
    height: 28px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    margin: 20px 20px 0;
}
.lookLi {
    cursor: pointer;
    float: left;
    height: 28px;
    line-height: 28px;
    padding-left: 15px;
    padding-right: 15px;
    color: #666;
    border-bottom: 1px solid #d2d7dd;
    border-radius: 3px 3px 0 0;
    background-color: #fff;
}
.lookBorder {
    border: 1px solid #d2d7dd;
    border-bottom: none;
    color: #2f79b6;
    font-size: 14px;
}
.lookLif {
    width: 48px;
    border: none;
    border-bottom: 1px solid #d2d7dd;
    cursor: Auto;;
}
.lookLil {
    width: 20%;
    cursor: Auto;
}
/*选项卡内容区域*/
.lookContent {
    margin-left: 30px;
    margin-top: 56px;
    border: 1px solid transparent;
    height: 83%;
}

.lookHead {
    height: 80px;
    width: 80px;
    border: 1px solid #ddd;
    float: left;
}

.lookText1 {
    margin-left: 100px;
    width: 275px;
    height: 27px;
    line-height: 27px;
}

.lookList {
    height: 29px;
    line-height: 29px;
    width: 360px;
}

.lookListKey1 {
    width: 65px;
    text-align: right
}

.lookListKey2 {
    width: 80px;
    text-align: right
}

.lookListValue {
    margin-left: 5px
}

.lookMarginTop {
    margin-top: 10px
}

.lookLine {
    height: 327px;
    width: 5px;
    border-right: 1px dashed #d0d0d0;
    float: left
}

.lookRight {
    height: 300px;
    width: 20%;
    /*  width: 610px;*/
    margin-left: 60px;
}

.lookRightImg {
    height: 80px;
    width: 487px;
}
.lookRightLi {
    height: 80px;
    text-align: center;
    width: 100px;
}

.lookMarginTop2 {
    margin-top: 2px;
}

.lookMarginRight {
    margin-right: 30px;
}
.lookBack {
    width: 73px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    text-align: center;
    margin-top: 413px;
    margin-left: 453px;
    cursor: pointer
}
a:hover {
    text-decoration: none;
}
.marginT35 {
    margin-top: 35px;
}
.tablePadL20 th, .tablePadL20 td {
    padding-left: 20px
}
.noContent{height: 20px;float: left;width: 100%;}
/****查看会员信息结束**/

/****会员标签开始**/
.labelOuter{
    min-height: 470px;
    border: 1px solid #ddd;
   /* margin:  0 10px 10px;*/
}
.labelAdd{
    height: 24px;
    line-height: 24px;
    padding-left:13px;
    padding-right:13px;
    /*width:28px ;*/
    margin: 10px 0 10px 15px;
}
.labelTop{
    height: 28px;
    line-height: 28px;
    background: #eee;
}
.labelTopList{
    cursor: pointer;
    float: left;
    width: 23%;
    padding-left:15px ;
    border-bottom: 1px solid #e7e6eb;
}
.labelTopList1{
    overflow: hidden;
    cursor: pointer;
    float: left;
    width: 23%;
    padding-left:15px ;
    height: 26px;
    position: relative;
}
.labelList{
    height: 26px;
    border-bottom: 1px solid #e7e6eb;
}
.labelListLast{
    height: 26px;
    border-bottom: 1px solid #e7e6eb;
}
.labelInput{
    height: 21px;
    line-height: 22px;
    width: 116px;
    border: 1px solid transparent ;
    float: left;
}
.labelInputBottom{
    border: 1px solid  #e7e6eb ;
}
.labelInputBord{
    border: 1px solid  #e7e6eb ;
}
.labelColor1{
    height: 16px;
    width: 16px;
    border-radius: 4px;
    position: absolute;
    margin-top:5px;
    margin-left:0;
    * margin-top: 5px;
    /** margin-left:-117px;*/
    * margin-left:-118px;
}
.labelColor2{
    height: 16px;
    width: 16px;
    border-radius: 4px;
    position: absolute;
    margin-top: 5px;
    margin-left:97px;
    *margin-top: 6px;
    *margin-left:-25px;
}
.labelChooseRed{
    background: red;
}
.labelChooseYellow{
    background-color: yellow;
}
.labelChooseBlue{
    background-color:#429beb;
}
.labelChooseGreen{
    background-color:#0ac832;
}
.labelOpera{
    height: 24px;
    line-height: 24px;
    *margin-top: 5px;
    margin-right: 10px;
    color: #4587db;
}
.labelMarginR{
    margin-right: 8px;
}
/****会员标签结束**/

/****会员等级开始**/
.levelOuter {
    min-height: 670px;
    border: 1px solid #ddd;
}

.levelAdd {
    height: 24px;
    line-height: 24px;
    padding-left: 13px;
    padding-right: 13px;
    width: 28px;
    margin: 10px 0 10px 15px;
}

.levelTop {
    height: 28px;
    line-height: 28px;
    background: #eee;
}

.levelTopList {
    overflow: hidden;
    cursor: pointer;
    float: left;
    width: 18%;
    padding-left: 15px;
    border-bottom: 1px solid #e7e6eb;
    height: 26px;
}

.levelTopList1 {
    cursor: pointer;
    float: left;
    width: 18%;
    padding-left: 15px;
    height: 26px;
}

.levelList {
    height: 29px;
    border-bottom: 1px solid #e7e6eb;
}

.levelInput {
    height: 24px;
    line-height: 24px;
    width: 116px;
    border: 1px solid transparent;
    float: left;
}

.levelInputBottom {
    border: 1px solid #e7e6eb;
}

.levelInputBord {
    border: 1px solid #e7e6eb;
}

.levelColor1 {
    height: 16px;
    width: 16px;
    border-radius: 4px;
    position: absolute;
    margin-top: 5px;
    margin-left: 0;
    *margin-top: 5px;
    /** margin-left:-117px;*/
    *margin-left: -118px;
}

.levelColor2 {
    height: 16px;
    width: 16px;
    border-radius: 4px;
    position: absolute;
    margin-top: 5px;
    margin-left: 97px;
    *margin-top: 6px;
    *margin-left: -25px;
}

.levelOpera {
    height: 24px;
    line-height: 24px;
    *margin-top: 5px;
    margin-right: 10px;
    color: #4587db;
}

.levelMarginR {
    margin-right: 8px;
}

.levelImg {
    /*display: none;*/
    float: left;
    margin-top: 4px;
    margin-right: 8px;
}

.levelPercent {
    float: left;
    margin-top: 6px;
    margin-left: 5px;
    display: none;
}

.levelPercent1 {
    display: block;
}

.levelChange {
    margin-top: 2px;
    background: #eee;
    width: 68px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;

}

.levelUp {
    margin-top: 2px;
    background: #eee;
    width: 68px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
}

.levelChange {
    background: #ededed;
    width: 70px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer
}

.levelUp {
    background: #ededed;
    width: 70px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer
}

.levelMarginR {
    margin-right: 8px;
}
.hide{display: none}
/****会员等级结束**/

/****注册及资料项设置开始**/
.registerOuter{
    border: 1px solid #ddd;
    overflow: hidden;
}
.registerOuter>ul{width: 100%}
.registerAdd{
    height: 24px;
    line-height: 24px;
    padding-left:13px;
    padding-right:13px;
    width:28px ;
    margin: 10px 0 10px 15px;
}
.registerTop{
    height: 28px;
    line-height: 28px;
    background: #eee;
    overflow: hidden;
    width: 100%;
    /* border: 1px solid gold;*/
}
.registerTopList{
    overflow: hidden;
    cursor: pointer;
    float: left;
    height: 50px;
}

.registerList{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e7e6eb;
}
.registerInput{
    height: 23px;
    line-height: 24px;
    width: 116px;
    border: 1px solid transparent ;
    float: left;
}
.registerYes{
    background: url("../images/setData1.gif") no-repeat 100% 80%;
}
.registerNo{
    background: url("../images/setData2.png") no-repeat center center;
}
.Parallel{
    display: inline-block;
    width: 13px;
    height: 1px;
    /* border: 1px solid fuchsia;*/
    position: absolute;
    margin-left: 0;
    margin-top: 24px;
    background: url("../images/Parallel.png") no-repeat 100% 100%;

}
.setRegImg{
    cursor: pointer;
}
.registerOpera{
    cursor: pointer;
    *margin-top: 5px;
    margin-right: 10px;
    color: #4587db;
    text-decoration: underline;
}
.regText{
    line-height: 20px;
    margin-top: 5px;

}
.regis-100{
    width: 100px;
}
.regis-145{
    width: 125px;
}
.regis-120{
    margin-left: 22px;
    width: 120px;
}
.regis-140{
    width: 140px;
}
.regis-245{
    width: 235px;
    padding-right: 10px;
}
.levelMarginR{
    margin-right: 8px;
}
.dataItem{
    *width: 100px!important;
    width: 106px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #ddd;
    padding: 2px
}
.setSel{
    *float: left;
    *display: block;
    *margin-top: 15px;
    width: 63px;
    height: 28px;
    *height: 28px!important;;
    *width: 63px;
    /* *height: 30px !important;*/
    border: 1px solid #ddd;
}
.dataLimit{
    width: 230px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #ddd;
    padding: 2px
}
.IeMargin{
    *margin-left:10px!important;
    *text-align: center!important;
}
.setRegistSave{
    margin:10px 8px  10px 0;
}
.setRegistClose{
    margin:10px 0;
}
/****注册及资料项设置结束**/

/****注册条款**/
.registerSetText{
    margin-left:20px ;
    width: 60px;

}
.registerSetEdit{
    width: 891px;
    min-height: 334px;
    border: 1px solid #ddd;
    margin-left: 89px;
    margin-top: -15px;
}
.reg-span1{
    margin-top: 34px;
}
.marginR5{margin-right: 5px}
.registerBtn{width: 100%;text-align: center;margin-left: 0;margin-top: 90px;
}
.regConHead{
 /*   margin-left: 10px;*/
    margin-right: 10px;
}
.marginB15{margin-bottom: 15px}
.marginT0{margin-top: 0}
.marginT20{margin-top: 20px}
.marginT18{margin-top: 18px}


