body {
  font-family: "Microsoft Yahei",arial;
  margin: 0;
  color: #666;
  font-size: 12px;
  background: #FFF; }

ul, dl, dt, dd, p, h2, form {
  margin: 0;
  padding: 0;
  font-weight: normal; }

li {
  list-style-type: none; }

img {
  border: none;
  border-width: 0; }

* {
  margin: 0;
  padding: 0; }

input, select, textarea {
  outline: none; }

em, i {
  font-style: normal; }

.containe {
  padding: 0 10px;
  height: 1188px; }
  .containe > p {
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    padding-left: 12px; }
    .containe > p span {
      float: right;
      margin-right: 20px;
      margin-top: 10px; }
      .containe > p span a {
        text-decoration: none;
        float: left;
        margin-left: 6px; }
  .containe .main {
    border: 1px solid #e6e6e8; }

.conta {
  padding: 10px; }
  .conta .head {
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    padding-left: 12px; }
    .conta .head span {
      float: right;
      margin-right: 20px;
      margin-top: 10px; }
      .conta .head span a {
        text-decoration: none;
        float: left;
        margin-left: 6px; }
  .conta .mcn {
    height: 900px;
    border: 1px solid #e6e6e8; }
    .conta .mcn .mainCtrl .memSearch span {
      text-align: center; }
    .conta .mcn .conta_con {
      padding: 10px 0 0 20px; }
      .conta .mcn .conta_con > ul > li {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 330px;
        height: 200px; }

.conta_con_lis {
  width: 328px;
  height: 198px;
  border: 1px solid #d6d6d6;
  z-index: 0; }
  .conta_con_lis .conta_con_tp {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 149px;
    overflow: hidden; }
    .conta_con_lis .conta_con_tp img {
      display: block;
      width: 100%;
      height: auto; }
    .conta_con_lis .conta_con_tp > div {
      position: absolute; }
    .conta_con_lis .conta_con_tp .conta_con_tp_icon {
      z-index: 600;
      width: 100%;
      height: 150px; }
      .conta_con_lis .conta_con_tp .conta_con_tp_icon.disabled {
        display: none; }
      .conta_con_lis .conta_con_tp .conta_con_tp_icon .conta_con_tp_icon_pic {
        position: absolute;
        width: 83px;
        cursor: pointer;
        height: 83px;
        left: 123px;
        top: 39px; }
        .conta_con_lis .conta_con_tp .conta_con_tp_icon .conta_con_tp_icon_pic.c_pic1 {
          background: url(../images/ul_pic1.png) no-repeat;
          background-size: 100% 100%; }
        .conta_con_lis .conta_con_tp .conta_con_tp_icon .conta_con_tp_icon_pic.c_pic2 {
          background: url(../images/ul_pic2.png) no-repeat;
          background-size: 100% 100%; }
        .conta_con_lis .conta_con_tp .conta_con_tp_icon .conta_con_tp_icon_pic.c_pic3 {
          background: url(../images/ul_pic3.png) no-repeat;
          background-size: 100% 100%; }
    .conta_con_lis .conta_con_tp .conta_con_tp_back {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: #000;
      opacity: 0.4;
      filter: alpha(opacity=40);
      z-index: 600; }
      .conta_con_lis .conta_con_tp .conta_con_tp_back.disabled {
        display: none; }
    .conta_con_lis .conta_con_tp .conta_con_tp_txt {
      left: 0;
      top: 0;
      z-index: 800; }
      .conta_con_lis .conta_con_tp .conta_con_tp_txt p {
        padding: 20px;
        line-height: 22px;
        font-size: 12px; }
        .conta_con_lis .conta_con_tp .conta_con_tp_txt p a {
          color: #fff; }
      .conta_con_lis .conta_con_tp .conta_con_tp_txt > span {
        cursor: pointer;
        display: block;
        margin-left: 20px;
        width: 70px;
        height: 26px;
        position: relative;
        z-index: 820; }
        .conta_con_lis .conta_con_tp .conta_con_tp_txt > span i {
          position: absolute;
          width: 70px;
          height: 26px;
          background: #fff;
          opacity: 0.2;
          filter: alpha(opacity=20);
          z-index: 830; }
        .conta_con_lis .conta_con_tp .conta_con_tp_txt > span em {
          z-index: 850;
          position: absolute;
          width: 68px;
          height: 24px;
          line-height: 24px;
          text-align: center;
          border: 1px solid #fff;
          border-radius: 2px;
          color: #fff; }
      .conta_con_lis .conta_con_tp .conta_con_tp_txt.disabled {
        display: none; }
  .conta_con_lis .conta_con_bt {
    position: relative;
    width: 100%;
    height: 49px;
    background: #fff; }
    .conta_con_lis .conta_con_bt > p {
      height: 49px;
      line-height: 49px;
      padding: 0 28px 0 10px; }
      .conta_con_lis .conta_con_bt > p > span {
        float: right;
        color: #418ad9; }

.down_nav {
  position: absolute;
  z-index: 20000; }
  .down_nav .icon {
    cursor: pointer;
    position: absolute;
    width: 28px;
    height: 21px;
    top: 17px;
    right: -1px; }
    .down_nav .icon > span {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1200;
      width: 26px;
      height: 19px;
      border: 1px solid transparent;
      background: url(../images/arrowDown.png) no-repeat 8px 6px; }
      .down_nav .icon > span.up_icon {
        background: url(../images/icon-down_03.png) no-repeat 8px 6px;
        border: 1px solid #d6d6d6;
        border-bottom: 1px solid #fff; }
    .down_nav .icon ol {
      display: none;
      position: absolute;
      z-index: 1150;
      top: 20px;
      right: 0;
      background: #fff;
      border: 1px solid #d6d6d6;
      line-height: 21px; }
      .down_nav .icon ol li {
        width: 42px;
        text-align: right;
        padding-right: 10px; }
        .down_nav .icon ol li:hover {
          color: #438ada;
          text-decoration: underline; }

.main .nav {
  height: 46px;
  border-bottom: 1px solid #e7e6eb; }
  .main .nav p {
    float: left;
    padding-left: 10px;
    line-height: 46px; }
  .main .nav ul {
    float: right;
    margin-right: 20px; }
    .main .nav ul > li {
      float: left;
      padding-top: 10px;
      margin-right: 12px; }
.main .lis > a {
  display: inline-block;
  width: 50px;
  height: 26px;
  line-height: 26px;
  color: #4e79bd;
  position: relative; }
  .main .lis > a div {
    position: absolute;
    width: 13px;
    height: 19px;
    right: 5px;
    top: 9px;
    border: 1px solid #fff;
    border-bottom: none;
    z-index: 300;
    background: #fff url(../images/arrowDown.png) no-repeat 1px 5px; }
    .main .lis > a div > em {
      position: absolute;
      width: 100%;
      height: 4px;
      background: #fff;
      left: 0;
      z-index: 500;
      bottom: 0px; }
    .main .lis > a div ol {
      display: none;
      border: 1px solid #ccc;
      position: absolute;
      right: -1px;
      top: 15px;
      z-index: 260;
      background: #fff; }
      .main .lis > a div ol li {
        color: #656565;
        text-align: right;
        padding-right: 12px;
        line-height: 22px;
        float: none;
        margin-right: 0px; }
        .main .lis > a div ol li:hover {
          color: #4488d9; }
  .main .lis > a:hover div {
    background: #fff url(../images/icon-down_03.png) no-repeat 1px 5px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff; }
    .main .lis > a:hover div ol {
      display: block; }
.main .s_img {
  height: 536px;
  padding: 10px 0 0 211px; }
  .main .s_img .s_img_con {
    position: relative;
    width: 601px;
    height: 500px;
    background: url(../images/con_border.png) no-repeat;
    background-size: 100% 100%; }
    .main .s_img .s_img_con .s_con_min {
      position: absolute;
      top: 53px;
      left: 38px;
      width: 524px;
      height: 294px; }
      .main .s_img .s_img_con .s_con_min img {
        display: block;
        width: 100%;
        height: 100%; }
.main .con {  }
  .main .con .con_m {
    display: inline-block;
    margin: 15px;
    border: 1px solid #e7e6eb;
    width: 506px;
    height: 195px; }
    .main .con .con_m .tp {
      height: 142px;
      border-bottom: 1px solid #e7e6eb; }
      .main .con .con_m .tp > span {
        float: right;
        margin-right: 11px; }
        .main .con .con_m .tp > span em {
          float: left;
          width: 58px;
          height: 24px;
          background: #ededed;
          border: 1px solid #ccc;
          margin: 64px 13px 0 0;
          text-align: center;
          line-height: 24px;
          cursor: pointer; }
        .main .con .con_m .tp > span i {
          float: left;
          margin-top: 13px; }
          .main .con .con_m .tp > span i img {
            border: 1px solid #ccc; }
      .main .con .con_m .tp > em {
        float: left;
        margin: 70px 0 0 34px; }
    .main .con .con_m .bt {
      padding-left: 33px; }
      .main .con .con_m .bt .lis {
        float: right;
        margin-right: 15px;
        margin-top: 10px; }
      .main .con .con_m .bt > span {
        float: left;
        margin-left: 3px;
        margin-top: 9px;
        cursor: pointer; }
.main > h5 {
  clear: both;
  height: 33px;
  line-height: 33px;
  padding-left: 16px;
  background: #e8e7ec;
  margin: 10px 0 20px; }

.tank .file {
  display: inline-block;
  width: 96px;
  height: 22px;
  position: relative;
  margin-right: 7px; }
  .tank .file label {
    display: block;
    width: 96px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background: #ededed;
    border: 1px solid #ccc;
    color: #747474;
    border-radius: 2px; }
  .tank .file input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0; }
.tank .ctn {
  text-align: center; }
  .tank .ctn input {
    display: inline-block;
    width: 75px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    color: #656565;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #fff;
    margin: 0 10px;
    cursor: pointer;
    outline: none; }
    .tank .ctn input.cvn {
      color: #fff;
      background: #4587db;
      border: 1px solid #4587db; }

.tank_mo1 {
  height: 250px;
  padding: 30px 10px 0 20px; }
  .tank_mo1 p {
    line-height: 20px;
    color: #666;
    font-size: 12px; }
    .tank_mo1 p.fel {
      margin: 20px 0 90px; }

.tank_mo2 {
  height: 400px;
  padding: 30px 10px 0 20px; }
  .tank_mo2 p {
    line-height: 38px; }
  .tank_mo2 ul {
    height: 160px;
    border: 1px solid #ddd;
    overflow: auto;
    padding-top: 7px;
    line-height: 24px;
    text-indent: 25px; }
  .tank_mo2 .moban {
    margin-bottom: 30px; }
    .tank_mo2 .moban a {
      color: #4788da; }

.tank_mo3 {
  height: 240px;
  padding: 30px 10px 0 20px; }
  .tank_mo3 .cml {
    margin-top: 20px;
    height: 160px; }
    .tank_mo3 .cml input {
      display: inline-block;
      width: 300px;
      height: 25px;
      border: 1px solid #ddd; }

.tank_mo12 {
  height: 380px; }
  .tank_mo12 p {
    line-height: 36px; }
    .tank_mo12 p span {
      margin-right: 15px; }
  .tank_mo12 .are {
    display: block;
    width: 603px;
    height: 260px;
    margin-bottom: 26px;
    border: 1px solid #ddd;
    resize: none; }

.wrp {
  width: 981px;
  height: 815px; }
  .wrp h4 {
    height: 40px;
    border-bottom: 1px solid #e9e9e9;
    padding-left: 20px;
    line-height: 40px;
    padding-top: 28px;
    font-size: 16px;
    font-weight: normal; }
    .wrp h4 span {
      float: right;
      width: 75px;
      height: 24px;
      color: #757575;
      background: #ededed;
      border: 1px solid #ccc;
      margin-right: 41px;
      margin-top: 4px;
      border-radius: 2px;
      font-size: 12px;
      text-align: center;
      font-weight: normal;
      line-height: 24px;
      cursor: pointer; }
  .wrp .cmain {
    padding: 20px  26px 0px 20px; }
    .wrp .cmain .cs3 {
      height: 29px;
      background: #e8e7ec;
      padding-left: 30px;
      font-size: 14px;
      line-height: 34px;
      overflow: hidden;
      font-weight: normal;
      color: #000; }
      .wrp .cmain .cs3 em {
        font-size: 12px;
        color: #666; }
      .wrp .cmain .cs3 span {
        margin: 4px 14px 0 0;
        float: right;
        width: 77px;
        height: 22px;
        text-indent: 37px;
        line-height: 22px;
        background: #4587db url(../images/secah.png) no-repeat 15px center;
        color: #fff;
        border-radius: 2px;
        cursor: pointer; }
  .wrp .top {
    margin-bottom: 15px;
    border: 1px solid #dcdcda;
    width: 932px; }
    .wrp .top > div {
      float: left; }
    .wrp .top:after {
      content: "";
      width: 0;
      height: 0;
      display: block;
      clear: both; }
    .wrp .top .left {
      width: 226px;
      height: 306px; }
    .wrp .top .center {
      width: 472px;
      height: 306px; }
      .wrp .top .center .ot {
        height: 170px; }
      .wrp .top .center .ct {
        height: 136px; }
        .wrp .top .center .ct a {
          width: 236px;
          height: 136px;
          float: left; }
    .wrp .top .right {
      width: 234px;
      height: 306px; }
    .wrp .top a {
      display: block;
      width: 100%;
      height: 100%; }
      .wrp .top a img {
        display: block;
        width: 100%;
        height: 100%; }
  .wrp .bot {
    width: 932px; }
    .wrp .bot a {
      float: left;
      width: 225px;
      margin-right: 10px;
      height: 330px; }
      .wrp .bot a img {
        width: 100%;
        height: 100%;
        display: inline-block; }
      .wrp .bot a.las {
        margin-right: 0;
        margin-left: 2px; }

/*# sourceMappingURL=temp.css.map */

/***可视化编辑开始***/
.visual-h{width: 100%;height:34px ;background-color: #515151;color:#fff;position: relative;}
.visual-tabs{width: 310px;overflow: hidden;float: left;margin-top: 6px;margin-left: 234px;}
.visual-li{cursor: pointer; float: left; height: 28px; line-height: 28px; padding-left: 15px; padding-right: 20px; color: #fff; border-radius: 3px 3px 0 0; background-color: #515151;-webkit-user-select: none;position: relative;
}
.visual-sel{ border-bottom: none; color: #333; font-size: 14px;background-color: #fff;}
.visual-sel-arrow{}
.visual-right-arrow{display:block;position:absolute;width:5px;height:11px;background:url(../images/visual-right-arrow.png) no-repeat 0 0;right:7px;top:8px;}
.visual-down-arrow{display:block;position:absolute;width:11px;height:11px;background:url(../images/visual-down-arrow.png) no-repeat 0 0;right:5px;top:9px;}
.visual-btn{width: 69px;height: 24px;line-height: 24px;border: 1px solid #969797;background-color: #f1f1f1;float: right;margin-right: 230px;margin-top: 4px;color: #333;text-align: center;cursor: pointer;}
.visual-set-btn{ height: 40px;width: 384px;float: right;margin-top: 4px}
.view-btn, .save-btn{float: left;display: inline-block}
.save-btn{margin-top: -26px;margin-left: 82px}
.pos-absolute{position: relative}
.pos-relative{position: relative}
.drop-down1{display: none;width: 272px;border: 1px solid #969797;margin-top: 27px;margin-left: 0px;position:absolute;z-index: 888;border-top: none;top: 7px;left: 233px;background-color: #fff}
.drop-down2{}
.drop-down3{}
.drop-down1-table{width: 100%;}
.drop-table-left{vertical-align: top;text-align: right;width: 37%;color: #333;}
.drop-table-left>span{margin-top: 2px;}
.drop-table-right{width: 60%;color: #4587db}
.marginLR30{margin-top: 3px;margin-right: 20px}
.drop-down1-table tr{height: 19px;line-height: 19px;border: 1px solid forestgreen}
.drop-table-right a{cursor: pointer;color:#4587db;text-decoration:none;}
.drop-table-right a:hover{text-decoration:underline}
.fade-li{margin-left: 5px}
/***可视化编辑结束***/

/***添加挂件开始***/
.widg-con{width: 784px;}
/*左侧*/
.wsideBar{width:150px;height:520px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;cursor: pointer;}
.wsideList dt{line-height:41px;position:relative;height:41px;padding:0 20px;font-size:14px;}
.wsideList dt:hover{}
.wsideList dt.dtcurr{height:40px;border-bottom:1px solid #ddd;}
.wsideList dt.dtcurr i{background-position:-20px -60px;}
/*.sideList dd{display:none;}*/
.wsideList dd.Tab-li{padding:0 20px 0 38px;line-height:33px;height:33px;display:block;}
.wsideList dd.Tab-li :hover,.wsideList dd.ddcurr.Tab-li{background:#eee;color:#3d6fcc;}
.widg-title{font-size: 14px;font-weight: bold}
/*右侧整体框架*/
.wcontainer{margin-left:145px;margin-top: -518px}
.wframeCont{margin:-2px 0px auto 20px;border: 1px solid #ddd;overflow: auto;height: 473px}
.wmainFrame{width:100%;}
.widg-right-t{margin: 15px auto 10px 20px;font-size: 14px;font-weight: bold}
.w-h20{height: 20px}
/***添加挂件结束***/

/***挂件中广告相关内容开始***/
.ad-conc>ul>li{border-bottom: 1px solid #ddd;width: 100%;height: 78px}
.ad-conc>ul>li.noBorderB{border-bottom-style: none}
.ad-imgc{width: 50px;height: 50px;border: 1px solid rosybrown}
.ad-brand-btn{margin-top:-37px;margin-left: 448px;width: 68px;height: 24px;line-height: 24px;border: 1px solid #979797;background-color: #f1f1f1;cursor: pointer}
.ad-imgc-wrap{margin-left: 10px;padding-top: 13px;width: 50px;height: 50px}
.ad-imgc-list{width: 50px;height: 50px}
.ad-add-icone{display:inline-block;width:12px;height:12px;background:url(../images/ad-add-icone.png) no-repeat 0px 0px;cursor:pointer;margin-left: 10px;margin-right: 5px;margin-top: 6px; }
.ad-icon-text{display: inline-block;line-height: 24px}
.ad-add-con-midd{margin-left: 72px;margin-top: -64px;width: 370px;height: 100%;float: left}
.ft-12-title{font-size: 12.12px;color: #486cb7;margin:13px  auto 10px auto;}
.w-tabs-infor1{display: none}
.w-li-select{background:#eee;color:#3d6fcc;}
.w-show{display: block}
/***挂件中广告相关内容结束***/
