<!doctype html>
<html ng-app="shop">
<head>
    <meta charset="utf-8">
    <title>会员列表</title>
    <link href="css/common.css" rel="stylesheet" type="text/css">
    <link href="css/frame.css" rel="stylesheet" type="text/css">
    <style>
        .sideList dd { display: block; }
    </style>
</head>

<body style="overflow: hidden;" ng-controller="MainController">
    <div class="sideBar">
        <div class="sideList">
            <dl ng-repeat="item in menu track by $index">
                <dt ng-click="navShow($index)">{{item.name}}<i></i></dt>
                <dd ng-repeat="childItem in item.items track by $index" ng-show="item.isShow"><a href="javascript:;">{{childItem.name}}</a></dd>
            </dl>
        </div>
    </div>
    <div class="header">
        <div class="logo">
            <a href="">
                <img src="images/logo.png"></a><i class="sideBarBtn"></i>
        </div>
        <span class="search"></span>
        <span class="alert"></span>
        <span class="help"></span>
        <span class="logout"></span>
    </div>

    <div class="container">
        <div class="frameCont">
            <!--<iframe src="memberManage/index.html" scrolling="auto" frameborder="0" class="mainFrame" name="main" id="main"></iframe>-->
        </div>
    </div>
    <div class="copyright">Company 2015-2020  1.0</div>

    <script src="angular.js"></script>
    <script>
        var shop = angular.module("shop", []);
        shop.service("MainMenuService", [function () {
            var menu = [{
                name: "订单管理",
                items: [
                    {
                        name: "订单列表"
                    }, {
                        name: "发货单"
                    }, {
                        name: "售后单"
                    }, {
                        name: "退货单"
                    }
                ]
            }, {
                name: "商品管理",
                items: [
                    {
                        name: "商品列表"
                    },
                    {
                        name: "商品分类"
                    },
                    {
                        name: "商品类型"
                    },
                    {
                        name: "商品标签"
                    },
                    {
                        name: "商品品牌"
                    },
                    {
                        name: "商品评价"
                    },
                    {
                        name: "商品咨讯"
                    }
                ]
            }, {
                name: "会员管理",
                items: [
                    {
                        name: "会员列表"
                    },
                    {
                        name: "会员等级"
                    },
                    {
                        name: "会员标签"
                    }
                ]
            }];
            return {
                menu: menu
            };
        }]);
        shop.controller("MainController", ["$scope", "MainMenuService", function ($scope, MainMenuService) {
            $scope.menu = MainMenuService.menu;

            setAllMenuHide();

            function setAllMenuHide() {
                angular.forEach($scope.menu, function (d, i) {
                    d.isShow = false;
                });
            }
            
            $scope.navShow = function (i) {
                setAllMenuHide();
                $scope.menu[i].isShow = true;
            };
        }]);
    </script>
</body>
</html>
