/*弹出框结构
<div class="box w-450 small-box" >
    <!-- 标题区 -->
    <div class="box-title  ft-12">
        <h2 class="box-h2 f-l">导出会员</h2>
        <span class="box-close f-r"></span>
    </div>
    <!-- 内容区 --> 
    <div class="box-con">      
    </div>    
    <!-- 按钮区 -->
    <div class="box-btn">
        <span class="gen-sureBtn boxSave">导出</span>
    </div>    
</div>
*/
/*弹出框公用*/
.box{background:#FFF;}

.box-btn{width: 100%; overflow: hidden; display: block; text-align: center; margin: 20px auto 25px auto;height: 36px}
.w120{ width: 120px!important;}
.w200{ width: 200px!important;}
.h-570{height: 570px}
.h-400{height: 400px}
.h-705{height: 705px}
.h-466{height: 466px}
.h-420{height: 420px}
/***配置列表***/
.boxDown {width: auto;height: auto;overflow: hidden;/* margin-left: 10px; */padding: 0px 0 10px 16px;display: block;background: url("../images/setListDown.png") no-repeat 6px 3px;}
.boxCont {overflow-y: auto;height: 391px;}
.boxList-move{ width: 6px;height: 14px;background: url("../images/setListDot.png") no-repeat 0 0;margin-top: 6px;*margin-top: 3px!important; margin-left: 10px;cursor: move;}
.boxR {/* margin-left: 15px; */vertical-align: middle;height: 25px;line-height: 25px;width:375px;border: 1px solid #ddd;border-bottom: none;}
.boxR:hover{ background: #f0f0fc;}
.boxR:last-child {border-bottom: 1px solid #ddd;}
.boxLast{border-bottom: 1px solid #ddd;}
.box-check{margin-left: 10px;margin-right: 5px;float: left;margin-top: 6px;*margin-top: 3px!important;}
.boxCol{background-color: #fefef4;color: #666;padding-left: 6px;}
/****配置列表项结束**/