/*左侧*/
.sideBar{position:fixed;width:186px;height:100%;top:0;left:0;border-right:1px solid #ddd;}

.sideList{padding-top:50px;}
.sideList dt{line-height:41px;position:relative;height:41px;cursor:pointer;padding:0 20px;font-size:14px;}
.sideList dt i{display:block;position:absolute;right:20px;width:8px;height:5px;top:18px;overflow:hidden;background:url(../images/iconSprite.png) no-repeat 0px -60px;}
.sideList dt:hover{background:#d7d7d7;color:#8d8d8d;}
.sideList dt.dtcurr{height:40px;border-bottom:1px solid #DDD;}
.sideList dt.dtcurr i{background-position:-20px -60px;}
.sideList dd{display:none;}
.sideList dd a{padding:0 20px 0 38px;line-height:33px;height:33px;display:block;}
.sideList dd a:hover,.sideList dd.ddcurr a{background:#eee url(../images/iconSprite.png) no-repeat -113px 12px;color:#3d6fcc;}

/*顶部*/
.header{height:50px;border-bottom:1px solid #DDD;text-align:right;position:relative;}
.logo{width:250px;height:50px;display:block;background:#FFF;top:0px;left:0px;position:absolute;}
.logo>a{display:block;width:186px;height:26px;text-align:center;position:fixed;margin-right:186px;padding:12px 0px;}
.logo img{display:inline-block;width:147px;height:26px;}
.sideBarBtn{display:inline-block;width:62px;height:50px;background:url(../images/iconSprite.png) no-repeat 0px 0px;border:1px solid #DDD;border-width:0px 1px;cursor:pointer;}
.header>span{display:inline-block;background-image:url(../images/iconSprite.png);background-repeat:no-repeat;width:23px;height:23px;margin:14px 30px 14px 0px;cursor:pointer;}
.header .user{background-position:-42px -163px;}
.header .user1{background-position: -69px -161px}
.header .help{background-position:-95px -82px;}
.header .search{background-position:-35px -124px;}
.header .alert{background-position:-97px -54px;position:relative;}
/*.header .msg{background-position:-68px -26px;}*/
.header .alert i{display:block;position:absolute;padding:2px 3px;background:#f69a41;color:#FFF;font-size:12px;line-height:12px;font-style:normal;top:-4px;right:-6px;}
.header .logout{background-position:-39px -98px;}

.user-infors{padding-left:10px;padding-right:10px;height: 70px;border: 1px solid #DDD;position: absolute;top: 41px;right: 88px;background: #fff;}
.user-infors .mes{margin-left: 10px;margin-top: 10px;text-align: left}
.user-infors>label{width: 100%;text-align: center;}
.user-infors-cornerImg{width: 25px;height: 25px;position: absolute;top: 35px;right: 198px;background:url(../images/iconSprite.png) no-repeat -95px -109px;}
.dashboardcLock{display: inline-block;height: 15px;width: 15px ;background: url("../images/dashboardcLock.png") no-repeat 0 0;vertical-align:-4px;margin-right: 5px;cursor: pointer}
.user-infors a{text-decoration:none }
.user-infors a:hover{color:#4587db;text-decoration:underline}
.logo .w54{width: 49px;height: 20px;vertical-align: 0px}
/*右侧整体框架*/
.container{margin-left:187px;min-width:1093px;}
.frameCont{margin:10px;}
.mainFrame{width:100%;}

/*底部版权
<div class="copyright">内容</div>
*/
.copyright{font-size:16px;line-height:50px;border-top:1px solid #DDD;margin-left:187px;padding-left:15px;}