@charset "UTF-8";
.bg-f0f0f0 {
    background: #f0f0f0
}
.validationForm{
    -webkit-user-select: none;
}
.loginCon {
    width: 360px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -180px;
    margin-top: -200px;
    text-align: center;
}

.logo {
    background: url("../images/loginLogo.png") no-repeat 0 0;
    display: inline-block;
    width: 145px;
    height: 45px;
}

.loginTxt {
    display: inline-block;
    width: 316px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #cac8c8;
    padding-left: 32px;
    cursor: pointer;
    outline:none;
    color:#666
}

.loginSubmit {
    background-color: #4587db;
    color: #fff;
    width: 350px;
    height: 46px;
    font-size: 18px;
    text-align: center;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 229px;
    left: 5px;

}

.errorMes {
    border: 1px solid #ef6e6e
}

.errorTip {
    width: 220px;
    height: 30px;
    line-height: 30px;
    background: #ef6e6e;
    position: absolute;
    top: 158px;
    left: 363px;
    color: #f0f0f0;
    font-size: 12px;
}

.floatLeft {
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    position: absolute;
    top: 195px;
    left: 1px;
    margin: 10px auto 10px 15px;
}

.floatRight {
    float: right;
    margin: 10px 13px 12px auto;
}

.loginName {
    margin-top: 30px;
    margin-bottom: 25px;
    position: absolute;
    top: 50px;
    left: 5px;

}

.loginPassword{
    position: absolute;
    top: 150px;
    left: 5px;
}
.checkBox {
    float: left;
    cursor: pointer;
    margin-top: 1px;
    margin-right: 5px;
}

.login_user {
    position: absolute;
    top: 95px;
    left: 15px
}

.login_resetPaw {
    position: absolute;
    top: 165px;
    left: 18px
}

.login_tip {
    position: absolute;
    top: 11px;
    left: -3px;
}
.errorTipUser {
    position: absolute;
    top: 86px;
    left: 363px;
    display: none
}
.errorTipPassWord{
    display: none;
}
.default-tip{position: absolute;left: 38px;color: #999}
.top-95{top: 94px}
.top-164{top:164px}
.test-icon{
    background: url("../images/test.gif") no-repeat 0 0;
    display: inline-block;
    width: 54px;
    height: 23px;
    vertical-align: 5px;
    margin-left: 5px;
}
