@charset "UTF-8";
*{margin: 0;padding: 0}
input{border: none;}
body{background: #1f2024}
#outer{
    width: 400px; height:417px;position: absolute;top:50%;left: 50%;
    margin-top: -225px;margin-left: -200px;background: white;
}
#outer .inner{
    width: 300px;height: 50px;margin: 0 auto;position: relative;margin-bottom: 20px;
}
#outer .inner-sort{
    width: 120px;height: 50px;margin-left: 50px;position: relative;
}
.text1{

    margin: 35px auto;
    padding-left: 58px;
}
#outer input {
    /* margin-left: 49px;*/
    border: 1px solid #ccc;
    width: 283px;
    height: 48px;
    line-height: 48px;
    margin-bottom: 20px;
    padding-left: 15px;
    vertical-align: middle;
    border-radius: 5px;

}
#validCode{
    cursor: pointer;
}
.com_left{
    position: absolute;left: 0;top: 0;
}
.com_right{
    position: absolute;right: 0;top: 0;
}
.login{
    background: #7ab55c;
    color: white;
    cursor: pointer;

}
#inner span{

    /* margin-left: 30px;*/
}
#footer {
    padding-left: 80px;
    float: left;
}
#footer div{
    margin:20px auto ;
    float: left;
}
#outer .span1{
    display: inline-block;
    /*margin-left: 30px;*/
}
#outer .span2{
    display: inline-block;
    /*margin-left: 15px;*/
}
#footer .left{
    display: inline-block;
    color: #7ab55c;
    margin-right: 105px;
}
#footer .right{
    display: inline-block;
    margin-right: 30px;
}
