<!DOCTYPE html>
<html lang="en">
<head>
 <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>添加挂件</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/temp.css">
</head>
<body>
<div class="ad-conc">
    <ul>
        <li>
            <div class="ad-imgc-wrap"><img class="ad-imgc-list" src="../images/ad-imgc.png" ></div>
            <div class="ad-add-con-midd" >
                <dl>
                    <dt class="ft-12-title">热卖品牌(brand-list)</dt>
                    <dd class="ft-col-999">展示模板使用首页热卖品牌</dd>
                </dl>
            </div>
            <div class="ad-brand-btn"><span class="ad-add-icone"></span><span class="ad-icon-text ad-brand-list1">添加</span></div>
        </li>
        <li>
            <div class="ad-imgc-wrap"><img class="ad-imgc-list" src="../images/ad-imgc.png" ></div>
            <div class="ad-add-con-midd" >
                <dl>
                    <dt class="ft-12-title">热卖品牌(brand-list)</dt>
                    <dd class="ft-col-999">展示模板使用首页热卖品牌</dd>
                </dl>
            </div>
            <div class="ad-brand-btn"><span class="ad-add-icone"></span><span class="ad-icon-text ad-brand-list2">添加</span></div>
        </li>
        <li>
            <div class="ad-imgc-wrap"><img class="ad-imgc-list" src="../images/ad-imgc.png" ></div>
            <div class="ad-add-con-midd" >
                <dl>
                    <dt class="ft-12-title">热卖品牌(brand-list)</dt>
                    <dd class="ft-col-999">展示模板使用首页热卖品牌</dd>
                </dl>
            </div>
            <div class="ad-brand-btn"><span class="ad-add-icone"></span><span class="ad-icon-text ad-brand-list3">添加</span></div>
        </li>
        <li>
            <div class="ad-imgc-wrap"><img class="ad-imgc-list" src="../images/ad-imgc.png" ></div>
            <div class="ad-add-con-midd" >
                <dl>
                    <dt class="ft-12-title">热卖品牌(brand-list)</dt>
                    <dd class="ft-col-999">展示模板使用首页热卖品牌</dd>
                </dl>
            </div>
            <div class="ad-brand-btn"><span class="ad-add-icone"></span><span class="ad-icon-text ad-brand-list4">添加</span></div>
        </li>
        <li>
            <div class="ad-imgc-wrap"><img class="ad-imgc-list" src="../images/ad-imgc.png" ></div>
            <div class="ad-add-con-midd" >
                <dl>
                    <dt class="ft-12-title">热卖品牌(brand-list)</dt>
                    <dd class="ft-col-999">展示模板使用首页热卖品牌</dd>
                </dl>
            </div>
            <div class="ad-brand-btn"><span class="ad-add-icone"></span><span class="ad-icon-text ad-brand-list5">添加</span></div>
        </li>
        <li>
            <div class="ad-imgc-wrap"><img class="ad-imgc-list" src="../images/ad-imgc.png" ></div>
            <div class="ad-add-con-midd" >
                <dl>
                    <dt class="ft-12-title">热卖品牌(brand-list)</dt>
                    <dd class="ft-col-999">展示模板使用首页热卖品牌</dd>
                </dl>
            </div>
            <div class="ad-brand-btn"><span class="ad-add-icone"></span><span class="ad-icon-text ad-brand-list6">添加</span></div>
        </li>
        <li >
            <div class="ad-imgc-wrap"><img class="ad-imgc-list" src="../images/ad-imgc.png" ></div>
            <div class="ad-add-con-midd" >
                <dl>
                    <dt class="ft-12-title">热卖品牌(brand-list)</dt>
                    <dd class="ft-col-999">展示模板使用首页热卖品牌</dd>
                </dl>
            </div>
            <div class="ad-brand-btn"><span class="ad-add-icone"></span><span class="ad-icon-text ad-brand-list6">添加</span></div>
        </li>

        <li >
            <div class="ad-imgc-wrap"><img class="ad-imgc-list" src="../images/ad-imgc.png" ></div>
            <div class="ad-add-con-midd" >
                <dl>
                    <dt class="ft-12-title">热卖品牌(brand-list)</dt>
                    <dd class="ft-col-999">展示模板使用首页热卖品牌</dd>
                </dl>
            </div>
            <div class="ad-brand-btn"><span class="ad-add-icone"></span><span class="ad-icon-text ad-brand-list6">添加</span></div>
        </li>

        <li class="noBorderB">
            <div class="ad-imgc-wrap"><img class="ad-imgc-list" src="../images/ad-imgc.png" ></div>
            <div class="ad-add-con-midd" >
                <dl>
                    <dt class="ft-12-title">热卖品牌(brand-list)</dt>
                    <dd class="ft-col-999">展示模板使用首页热卖品牌</dd>
                </dl>
            </div>
            <div class="ad-brand-btn"><span class="ad-add-icone"></span><span class="ad-icon-text ad-brand-list6">添加</span></div>
        </li>

    </ul>
</div>
</body>
</html>