<!DOCTYPE html>
<html lang="en">
<head>
 <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/form.css">
    <link rel="stylesheet" type="text/css" href="../css/list.css">
    <link rel="stylesheet" type="text/css" href="../css/temp.css">
	<title>模版管理</title>
</head>
<body>
	<div class="conta">
		<p class="head">我的应用列表<span><a class="gen-guiBtn" href="javascript:;">获取更多应用</a></span></p>
		<div class="mcn">
			<div class="mainCtrl">
		    	<ul>
		        	
		        </ul>
		        <div>
		        	<div class="select memSearch" style="width:100px">
		            	<span>已暂停</span>
		                <i></i>
		                <ul>
		                	<li></li>
		                </ul>
		            </div>
		            <div class="searchTxt"><input type="text"><i class="searchIcon"></i></div>
		            <span class="searchBtn">高级筛选></span>
		            
		        </div>
   			</div>
			<div class="conta_con">
				<ul>
					<li>
						<div class="conta_con_lis">
								<div class="conta_con_tp">
									<div class="conta_con_tp_img">
										<img src="../images/ul_pic5.png" alt="">
									</div>
									<div class="conta_con_tp_icon">
										<span class="conta_con_tp_icon_pic c_pic1"></span>
									</div>
									<div class="conta_con_tp_back disabled"></div>
									<div class="conta_con_tp_txt disabled">
										<p><a href="javascript:;">该软件为免费软件，应用操作便捷灵活，适用于各类规模的电商企业，是促销利器。适用于各类规模的电商企业.....</a></p>
										<span class="conta_con_tp_txt_come">
											<i></i>
											<em>运行中</em>
										</span>
									</div>
								</div>
								<div class="conta_con_bt down_nav" id="down_nav">
									<p>宝贝营销王<span>应用操作</span></p>
									<div class="icon">
										<span class="icon_sn"></span>
										<em></em>
										<ol>
											<li>安装</li>
											<li>停用</li>
											<li>启用</li>
											<li>卸载</li>
										</ol>
									</div>
								</div>
						</div>
						
					</li>
					<li>
						<div class="conta_con_lis">
							
						
						<div class="conta_con_tp">
							<div class="conta_con_tp_img">
								<img src="../images/ul_pic4.png" alt="">
							</div>
							<div class="conta_con_tp_icon disabled">
								<span class="conta_con_tp_icon_pic"></span>
							</div>
							<div class="conta_con_tp_back"></div>
							<div class="conta_con_tp_txt">
								<p><a href="javascript:;">该软件为免费软件，应用操作便捷灵活，适用于各类规模的电商企业，是促销利器。适用于各类规模的电商企业.....</a></p>
								<span class="conta_con_tp_txt_come">
									<i></i>
									<em>运行中</em>
								</span>
							</div>
						</div>
						<div class="conta_con_bt down_nav" id="down_nav">
							<p>宝贝营销王<span>应用操作</span></p>
							<div class="icon">
								<span class="icon_sn"></span>
								<em></em>
								<ol>
									<li>安装</li>
									<li>停用</li>
									<li>启用</li>
									<li>卸载</li>
								</ol>
							</div>
						</div>
						</div>
					</li>
					<li>
						<div class="conta_con_lis">
							
						
						<div class="conta_con_tp">
							<div class="conta_con_tp_img">
								<img src="../images/ul_pic5.png" alt="">
							</div>
							<div class="conta_con_tp_icon">
								<span class="conta_con_tp_icon_pic c_pic2"></span>
							</div>
							<div class="conta_con_tp_back disabled"></div>
							<div class="conta_con_tp_txt disabled">
								<p><a href="javascript:;">该软件为免费软件，应用操作便捷灵活，适用于各类规模的电商企业，是促销利器。适用于各类规模的电商企业.....</a></p>
								<span class="conta_con_tp_txt_come">
									<i></i>
									<em>运行中</em>
								</span>
							</div>
						</div>
						<div class="conta_con_bt down_nav" id="down_nav">
							<p>宝贝营销王<span>应用操作</span></p>
							<div class="icon">
								<span class="icon_sn"></span>
								<em></em>
								<ol>
									<li>安装</li>
									<li>停用</li>
									<li>启用</li>
									<li>卸载</li>
								</ol>
							</div>
						</div></div>
					</li>
					<li>
						<div class="conta_con_lis">
							
						
						<div class="conta_con_tp">
							<div class="conta_con_tp_img">
								<img src="../images/ul_pic5.png" alt="">
							</div>
							<div class="conta_con_tp_icon">
								<span class="conta_con_tp_icon_pic c_pic3"></span>
							</div>
							<div class="conta_con_tp_back disabled"></div>
							<div class="conta_con_tp_txt disabled">
								<p><a href="javascript:;">该软件为免费软件，应用操作便捷灵活，适用于各类规模的电商企业，是促销利器。适用于各类规模的电商企业.....</a></p>
								<span class="conta_con_tp_txt_come">
									<i></i>
									<em>运行中</em>
								</span>
							</div>
						</div>
						<div class="conta_con_bt down_nav" id="down_nav">
							<p>宝贝营销王<span>应用操作</span></p>
							<div class="icon">
								<span class="icon_sn"></span>
								<em></em>
								<ol>
									<li>安装</li>
									<li>停用</li>
									<li>启用</li>
									<li>卸载</li>
								</ol>
							</div>
						</div></div>
					</li>
				</ul>
			</div>
			
			
			
		</div>
		
	</div>
<script type="text/javascript" src="../js/libs/jquery/jquery-1.9.1.js"></script>
<script type="text/javascript">
	$(".down_nav").on("click",".icon_sn",function(){
		if(!$(this).hasClass("up_icon")){
			$(this).addClass("up_icon");
			$(this).siblings("ol").show();
		}else{
			$(this).removeClass("up_icon");
			$(this).siblings("ol").hide();
		}
	})
</script>
</body>
</html>