<!DOCTYPE html>
<html lang="en">
<head>
 <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../css/form.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/box.css">
    <link rel="stylesheet" type="text/css" href="../css/list.css">
    <link rel="stylesheet" type="text/css" href="../css/temp.css">
     <link rel="stylesheet" type="text/css" href="../css/common.css">
	<title>模版管理-1传新模板</title>
</head> 
<body>
	<div class="tank tank_mo1">
		<form action="">
			<p>请将您的模版文件压缩成.zip或.rar文件。上传后模版要经过审核才能在模版市场发布。</p>
			<p class="fel"><span class="file"><label for="file">选择文件</label><input id="file" type="file"></span><em>文件不能大于20M</em></p> 
			<p class="ctn btn-sub"><span class="gen-sureBtn">下载</span><span class="gen-cancelBtn">取消</span></p>
		</form>
	</div>
</body>
</html>