<!DOCTYPE html>
<html lang="en">
<head>
 <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../css/form.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/box.css">
    <link rel="stylesheet" type="text/css" href="../css/list.css">
    <link rel="stylesheet" type="text/css" href="../css/temp.css">
	<title>模版管理-2更新主题</title>
</head>
<body>
	<div class="tank tank_mo2"> 
		<form action="">
			<p>您的主题"主题名称" &nbsp;&nbsp;将从版本xx更新到版本xx。</p>
			<p>本次更新的主要内容有:</p>
			<ul>
				<li>1迷你包 链条斜跨小包2016春夏新款锁扣小方包女单肩包包</li>
				<li>2迷你包 链条斜跨小包2016春夏新款锁扣小方包女单肩包包</li>
				<li>3迷你包 链条斜跨小包2016春夏新款锁扣小方包女单肩包包</li>
				<li>4迷你包 链条斜跨小包2016春夏新款锁扣小方包女单肩包包</li>
				<li>5迷你包 链条斜跨小包2016春夏新款锁扣小方包女单肩包包</li>
				<li>6迷你包 链条斜跨小包2016春夏新款锁扣小方包女单肩包包</li>


			</ul>
			<p class="moban">
				<a href="javascript:;">还原至上一模版</a>
			</p>
			<p class="ctn btn-sub"><span class="gen-sureBtn">更新</span><span class="gen-cancelBtn">取消</span></p>
		</form>
	</div>
</body>
</html>