<!DOCTYPE html>
<html lang="en">
<head>
 <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../css/form.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/box.css">
    <link rel="stylesheet" type="text/css" href="../css/list.css">
    <link rel="stylesheet" type="text/css" href="../css/temp.css">
	<title>模版管理-10可视化编辑</title>
</head>
<body> 
	<div class="wrp">
		<h4><span>退出</span>前台可视化编辑</h4>
		<div class="cmain">
		<div class="top">
			<div class="left">
				<a href="javascript:;"><img src="../images/img-1.png" alt=""></a>
			</div>
			<div class="center">
				<div class="ot">
					<a href="javascript:;"><img src="../images/img-2.png" alt=""></a>
				</div>
				<div class="ct">
					<a href="javascript:;"><img src="../images/img-3.png" alt=""></a>
					<a href="javascript:;"><img src="../images/img-4.png" alt=""></a>
				</div>
			</div>
			<div class="right">
				<a href="javascript:;"><img src="../images/img-5.png" alt=""></a>
			</div>
		</div>
		<div class="bot">
			<a href="javascript:;"><img src="../images/img-6.png" alt=""></a>
			<a href="javascript:;"><img src="../images/img-7.png" alt=""></a>
			<a href="javascript:;"><img src="../images/img-8.png" alt=""></a>
			<a class="las" href="javascript:;"><img src="../images/img-9.png" alt=""></a>
		</div>
		</div>
	</div>
</body>
</html>