<!DOCTYPE html>
<html lang="en">
<head>
 <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
	<meta charset="UTF-8">
	<title>模版管理-12可视化编辑设置</title>
	<link rel="stylesheet" type="text/css" href="../css/form.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/box.css">
    <link rel="stylesheet" type="text/css" href="../css/list.css">
    <link rel="stylesheet" type="text/css" href="../css/temp.css">
</head>
<body>
	<div class="tank tank_mo12">
		<form action="">
			<p>设置:</p> 
			<textarea name="" id="" class="are">
				
			</textarea>
			<p class="ctn btn-sub"><span class="gen-sureBtn">保存</span><span class="gen-cancelBtn">重设</span>
			<span class="gen-cancelBtn">取消</span></p>
		</form>
	</div>
</body>
</html>