<!DOCTYPE html>
<html lang="en">
<head>
 <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../css/form.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/box.css">
    <link rel="stylesheet" type="text/css" href="../css/list.css">
    <link rel="stylesheet" type="text/css" href="../css/temp.css">
	<title>模版管理-5使用模板</title>
</head>
<body>
	<div class="tank tank_mo3">
		<form action="">
			<p class="cml">您确定使用模板"模板名称"？它会替代您当前正在使用的模板"模板名称"</p>
			<p class="ctn btn-sub"><span class="gen-sureBtn">使用</span><span class="gen-cancelBtn">取消</span></p>
		</form>
	</div>
</body>
</html> 