<!DOCTYPE html>
<html lang="en">
<head>
 <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/form.css">
    <link rel="stylesheet" type="text/css" href="../css/list.css">
    <link rel="stylesheet" type="text/css" href="../css/temp.css">
	<title>模版管理</title>
</head>
<body>
	<div class="containe">
		<p>模版管理<span><a class="gen-guiBtn" href="javascript:;">上传模版</a><a class="gen-guiBtn" class="more" href="javascript:;">获取更多模版</a></span></p>
		<div class="main">
			<div class="nav mainCtrl">
				<p>模版名称</p>
				<ul>
					<li><span>预览</span></li>
					<li><span>可视化编辑</span></li>
					<li class="lis">
						<a href="javascript:;">
						    更多
						   <div>
						   		<em></em>
						   	   <ol>
						   	   	<li>更多主题</li>
						   	   	<li>重命名</li>
						   	   	<li>属性</li>
						   	   	<li>编辑HTML/CSS</li>
						   	   	<li>下载模版</li>
						   	   	<li>复制模版</li>
						   	   </ol>
						   </div>

						</a>
					</li>
				</ul>
			</div>
			<div class="s_img">
				<div class="s_img_con">
					<div class="s_con_min">
						<img src="../images/con_min.png" alt="">
					</div>
				</div>
			</div>
			<div class="con">
				<div class="con_m">
					<div class="tp">
						<span>
							<em class="viewTemplate" att="view">预览</em>
							<i><img src="../images/pic-2.png"></i>
						</span>
						<em>模版名称</em>
					</div>
					<div class="bt">
						<div class="lis">
							<a href="javascript:;">
						    更多
						   <div>
						   		<em></em>
						   	   <ol>
						   	   	<li>更多主题</li>
						   	   	<li>重命名</li>
						   	   	<li>属性</li>
						   	   	<li>编辑HTML/CSS</li>
						   	   	<li>下载模版</li>
						   	   	<li>复制模版</li>
						   	   </ol>
						   </div>

							</a>
						</div>
						<span class="gen-guiBtn useTemplate" att="use">使用模版</span>
						<span class="gen-guiBtn editTemplate">可视化编辑</span>
					</div>
				</div>
				<div class="con_m">
					<div class="tp">
						<span>
							<em class="viewTemplate"  att="view">预览</em>
							<i><img src="../images/pic-3.png"></i>
						</span>
						<em>模版名称</em>
					</div>
					<div class="bt">
						<div class="lis">
							<a href="javascript:;">
						    更多
						   <div>
						   		<em></em>
						   	   <ol>
						   	   	<li>更多主题</li>
						   	   	<li>重命名</li>
						   	   	<li>属性</li>
						   	   	<li>编辑HTML/CSS</li>
						   	   	<li>下载模版</li>
						   	   	<li>复制模版</li>
						   	   </ol>
						   </div>

							</a>
						</div>
						<span class="gen-guiBtn useTemplate" att="use">使用模版</span>
						<span class="gen-guiBtn editTemplate">可视化编辑</span>
					</div>
				</div>
			</div>
			<h5>复制的模版</h5>
			<div class="con">
				<div class="con_m">
					<div class="tp">
						<span>
							<em class="viewTemplate"  att="view">预览</em>
							<i><img src="../images/pic-4.png"></i>
						</span>
						<em>模版名称</em>
					</div>
					<div class="bt">
						<div class="lis">
							<a href="javascript:;">
						    更多
						   <div>
						   		<em></em>
						   	   <ol>
						   	   	<li>更多主题</li>
						   	   	<li>重命名</li>
						   	   	<li>属性</li>
						   	   	<li>编辑HTML/CSS</li>
						   	   	<li>下载模版</li>
						   	   	<li>复制模版</li>
						   	   </ol>
						   </div>
							</a>
						</div>
						<span class="gen-guiBtn useTemplate" att="use">使用模版</span>
						<span class="gen-guiBtn editTemplate">可视化编辑</span>
					</div>
				</div>
				<div class="con_m">
					<div class="tp">
						<span>
							<em class="viewTemplate"  att="view">预览</em>
							<i><img src="../images/pic-5.png"></i>
						</span>
						<em>模版名称</em>
					</div>
					<div class="bt">
						<div class="lis">
							<a href="javascript:;">
						    更多
						   <div>
						   		<em></em>
						   	   <ol>
						   	   	<li>更多主题</li>
						   	   	<li>重命名</li>
						   	   	<li>属性</li>
						   	   	<li>编辑HTML/CSS</li>
						   	   	<li>下载模版</li>
						   	   	<li>复制模版</li>
						   	   </ol>
						   </div>
							</a>
						</div>
						<span class="gen-guiBtn useTemplate" att="use">使用模版</span>
						<span class="gen-guiBtn editTemplate">可视化编辑</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="jquery-1.9.1.min.js"></script>
<script type="text/javascript">
	$(function(){
		/*使用模版显示*/
		$(".useTemplate").each(function(){
			$(this).on("click",function(){
				$.ajax({
					type:"post",
					url:"",
					data:{use:$(".useTemplate").attr("att")},
					dataType:"json",
					success:function(data){
						var swithSrc=data.url;
						$(".s_con_min").find("img").prop("src",swithSrc);
					}
				});

			})
		});

	});


/*	/!*使用模版显示*!/
	var swithSrc=$(this).parent(".bt").siblings(".tp").find("img").prop("src");
	$(".s_con_min").find("img").prop("src",swithSrc);*/

</script>

</html>