<!DOCTYPE html>
<html lang="en">
<head>
 <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>添加挂件</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/temp.css">
</head>
<body>
<!--宽度790px-->
<div class="widg-con">
    <!--左侧导航区-->
    <div class="wsideBar">
        <div class="wsideList">
            <dl>
                <dt class="widg-title">模板自带挂件</dt>
                <dd class="Tab-li">广告相关</dd>
                <dd class="Tab-li">辅助信息</dd>
                <dd  class="Tab-li">购物车</dd>
                <dd class="Tab-li">文章相关</dd>
                <dd class="Tab-li">积分兑换</dd>
                <dd class="Tab-li">注册登录</dd>
            </dl>
        </div>
    </div>
    <!--内容区-->
    <div class="wcontainer">
        <div class="widg-right-t">常用板块</div>
        <div class="wframeCont" >
            <div class="w-tabs-infor1 w-show" >
                <div class="ad-conc">
                    <ul>
                        <li>
                            <div class="ad-imgc-wrap"><img class="ad-imgc-list" src="../images/ad-imgc.png" ></div>
                            <div class="ad-add-con-midd" >
                                <dl>
                                    <dt class="ft-12-title">热卖品牌(brand-list)</dt>
                                    <dd class="ft-col-999">展示模板使用首页热卖品牌</dd>
                                </dl>
                            </div>
                            <div class="ad-brand-btn"><span class="ad-add-icone"></span><span class="ad-icon-text ad-brand-list1">添加</span></div>
                        </li>
                        <li>
                            <div class="ad-imgc-wrap"><img class="ad-imgc-list" src="../images/ad-imgc.png" ></div>
                            <div class="ad-add-con-midd" >
                                <dl>
                                    <dt class="ft-12-title">热卖品牌(brand-list)</dt>
                                    <dd class="ft-col-999">展示模板使用首页热卖品牌</dd>
                                </dl>
                            </div>
                            <div class="ad-brand-btn"><span class="ad-add-icone"></span><span class="ad-icon-text ad-brand-list2">添加</span></div>
                        </li>
                        <li>
                            <div class="ad-imgc-wrap"><img class="ad-imgc-list" src="../images/ad-imgc.png" ></div>
                            <div class="ad-add-con-midd" >
                                <dl>
                                    <dt class="ft-12-title">热卖品牌(brand-list)</dt>
                                    <dd class="ft-col-999">展示模板使用首页热卖品牌</dd>
                                </dl>
                            </div>
                            <div class="ad-brand-btn"><span class="ad-add-icone"></span><span class="ad-icon-text ad-brand-list3">添加</span></div>
                        </li>
                        <li>
                            <div class="ad-imgc-wrap"><img class="ad-imgc-list" src="../images/ad-imgc.png" ></div>
                            <div class="ad-add-con-midd" >
                                <dl>
                                    <dt class="ft-12-title">热卖品牌(brand-list)</dt>
                                    <dd class="ft-col-999">展示模板使用首页热卖品牌</dd>
                                </dl>
                            </div>
                            <div class="ad-brand-btn"><span class="ad-add-icone"></span><span class="ad-icon-text ad-brand-list4">添加</span></div>
                        </li>
                        <li>
                            <div class="ad-imgc-wrap"><img class="ad-imgc-list" src="../images/ad-imgc.png" ></div>
                            <div class="ad-add-con-midd" >
                                <dl>
                                    <dt class="ft-12-title">热卖品牌(brand-list)</dt>
                                    <dd class="ft-col-999">展示模板使用首页热卖品牌</dd>
                                </dl>
                            </div>
                            <div class="ad-brand-btn"><span class="ad-add-icone"></span><span class="ad-icon-text ad-brand-list5">添加</span></div>
                        </li>

                        <li>
                            <div class="ad-imgc-wrap"><img class="ad-imgc-list" src="../images/ad-imgc.png" ></div>
                            <div class="ad-add-con-midd" >
                                <dl>
                                    <dt class="ft-12-title">热卖品牌(brand-list)</dt>
                                    <dd class="ft-col-999">展示模板使用首页热卖品牌</dd>
                                </dl>
                            </div>
                            <div class="ad-brand-btn"><span class="ad-add-icone"></span><span class="ad-icon-text ad-brand-list5">添加</span></div>
                        </li>
                        <li>
                            <div class="ad-imgc-wrap"><img class="ad-imgc-list" src="../images/ad-imgc.png" ></div>
                            <div class="ad-add-con-midd" >
                                <dl>
                                    <dt class="ft-12-title">热卖品牌(brand-list)</dt>
                                    <dd class="ft-col-999">展示模板使用首页热卖品牌</dd>
                                </dl>
                            </div>
                            <div class="ad-brand-btn"><span class="ad-add-icone"></span><span class="ad-icon-text ad-brand-list5">添加</span></div>
                        </li>


                        <li class="noBorderB">
                            <div class="ad-imgc-wrap"><img class="ad-imgc-list" src="../images/ad-imgc.png" ></div>
                            <div class="ad-add-con-midd" >
                                <dl>
                                    <dt class="ft-12-title">热卖品牌(brand-list)</dt>
                                    <dd class="ft-col-999">展示模板使用首页热卖品牌</dd>
                                </dl>
                            </div>
                            <div class="ad-brand-btn"><span class="ad-add-icone"></span><span class="ad-icon-text ad-brand-list6">添加</span></div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="w-tabs-infor1">2</div>
            <div class="w-tabs-infor1">3</div>
            <div class="w-tabs-infor1">4</div>
            <div class="w-tabs-infor1">5</div>
            <div class="w-tabs-infor1">6</div>
        </div>
    </div>
    <div class="w-h20"></div>
</div>
<script src="../js/libs/seajs/sea-debug.js"></script>
<script src="../js/base.js"></script>
<script>
    appManager.use('addWidget');
</script>

</body>
</html>